<div class="bg-black border-custom border-t-8 shadow w-64 my-2 rounded-lg shadow-lg">
  <ul>
    <li>
      <a href="#" class="text-custom hover:bg-custom hover:text-white block p-4 font-bold">Link</a>
    </li>
    <li >
      <a href="#" class="text-custom hover:bg-custom hover:text-white block p-4 font-bold">Link</a>
    </li>
    <li >
      <a href="#" class="text-custom hover:bg-custom hover:text-white block p-4 font-bold">Link</a>
    </li>
    <li >
      <a href="#" class="text-custom hover:bg-custom hover:text-white block p-4 font-bold">Link</a><!-- rounded-b-lg -->
    </li>
  </ul>
</div>
